/* reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3161E0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


/* utilities */
.flexbox {
    display: flex;
}

.border {
    border: 1px white solid;

}

.border-bis {
    border: 2px white solid;
}

.backround {
    background-color: limegreen;
}

h1 {
    min-height: 35px;
    margin: auto 0;
}

p {
    min-height: 15px;
}

/* header */
header {
    justify-content: space-around;
    align-items: flex-start;
    min-height: 450px;
    background-color: #3161E0
        /* backround-image: url('') */
}

.row {
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-width: 100%;
    min-height: 25px;
    padding: 15px;

}

#go-to {
    flex-basis: 33%;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: white;
}

.text-container {
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    max-width: 55%;
    margin: 0 auto;
    text-align: center;

}

/* fine header */

/* main */
.row-container {
    min-height: 550px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}

.half-row-main {
    min-height: 350px;
    min-width: 550px;
    background-color: aliceblue;
}

.text-area {
    flex-direction: column;
    justify-content: center;
}

.title-image {
    min-height: 225px;
    min-width: 300px;
    margin: 0;
}

.description-title {
    min-height: 125px;
    min-width: 300px;
    margin: 0;
}

.big-image {
    min-height: 400px;
    min-width: 100%;
    margin-bottom: 0;
}

span {
    min-width: 35%;
    min-height: 35px;
    margin-bottom: 50px;
}

.sottotitolo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 300px;
}

/* end main */
/* list section */
section {
    background-color: #23272A;
    min-width: 100%;
    justify-content: center;
    color: white;
}

ul {
    width: 1140px;
}

li {
    list-style-type: none;
    margin: 20px;
}

.big-column {
    flex-grow: 2;
    line-height: 50px;
}

.small-column {
    min-width: 12.75%;
    min-height: 250px;
}

li>div {
    min-height: 15px;
}

/* end list */
/* footer */